body{
    background-color: beige;
}

nav ul {
    background-color: bisque;
    border-style: double;
    padding: 10px;
}

nav ul li {
    display: inline;
    color: white;
    list-style-type: none;
}

table{
    padding: 10px;
    border: 3px;
    border-style: solid;
}