body{
    background-color: rgb(239, 239, 171);
}

nav ul {
    background-color: bisque;
    border-style: double;
    padding: 10px;
}

nav ul li {
    display: inline;
    color: white;
    list-style-type: none;
}
